services:
  watchtower:
    image: nickfedor/watchtower:1.12.3
    profiles:
      - watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 127.0.0.1:9483:8080
    command: ${WATCHTOWER_OPS} --rolling-restart --http-api-update ${WATCHTOWER_CONTAINERS}
    environment:
      WATCHTOWER_HTTP_API_TOKEN: Mie9buzeiW1cahc4xahZee9AhJ1oawae
      WATCHTOWER_NOTIFICATION_URL: ${WATCHTOWER_NOTIFICATION_URL}
    restart: unless-stopped

  vector:
    image: timberio/vector:0.44.0-alpine
    environment:
      include_containers: ${vector_include_containers}
      exclude_containers: ${vector_exclude_containers}
      observable_url: ${vector_observable_url:-http://openobserve:5080/api/default/default/_json}
      observable_user: ${vector_observable_user}
      observable_password: ${vector_observable_password}
    volumes:
      - ./vector.yaml:/etc/vector/vector.yaml
      - /var/run/docker.sock:/var/run/docker.sock  # For accessing Docker logs
#      - ./lib_vector:/var/lib/vector  # Persistent storage (optional)
      - ./logs:/vector  # Persistent storage (optional)
    command: -c /etc/vector/vector.yaml
    healthcheck:
      test: wget --no-verbose --tries=1 -O /dev/null http://127.0.0.1:8686/health || exit 1
      start_interval: 1s
      start_period: 30s
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:v0.14.0
    profiles:
      - openobserve
    environment:
      ZO_ROOT_USER_EMAIL: ${ZO_ROOT_USER_EMAIL}
      ZO_ROOT_USER_PASSWORD: ${ZO_ROOT_USER_PASSWORD}
    ports:
      - 127.0.0.1:5080:5080
    volumes:
      - data_openobserve:/data
    healthcheck:
      test: curl -f http://localhost:5080/healthz || exit 1
      start_interval: 1s
      start_period: 30s
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

volumes:
  data_openobserve:
